[Unit]
Description=Refresh TWiT E-Ink Dashboard daily at 11am Pacific

[Timer]
OnCalendar=*-*-* 11:00:00
Persistent=true

[Install]
WantedBy=timers.target
