[Unit]
Description=TWiT E-Ink Dashboard renderer and delivery

[Service]
Type=oneshot
ExecStart=/home/leo/opt/twit-dashboard/.venv/bin/python3 /home/leo/opt/twit-dashboard/dashboard.py
WorkingDirectory=/home/leo/opt/twit-dashboard
