[Unit]
Description=Refresh TWiT E-Ink Dashboard every hour

[Timer]
OnBootSec=1min
OnUnitActiveSec=1h
AccuracySec=1min

[Install]
WantedBy=timers.target
